@import url('https://fonts.googleapis.com/css?family=Lato');

html, body, #app {
  height: 100%;
}

#app {
  align-items: center;
  display: flex;
  justify-content: center;
}

body {
  font-family: 'Lato', sans-serif;
}
